{% extends "./layout/index.twig" %}

{% block page %}
    <h1>Webpage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quo molestiae quaerat reprehenderit exercitationem ad labore a nobis, eveniet quia modi sunt, blanditiis, officiis nesciunt facere nemo cum qui vitae!</p>
    <p>Ab illo commodi pariatur corporis tempora eos quisquam ducimus numquam, enim eligendi inventore adipisci autem cum quas assumenda sunt quidem error possimus. Harum odio ad recusandae nobis. Ex, molestiae sunt.</p>
    <img class="wallpaper" src="./img/stairs.png" alt="">
{% endblock %}